body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    position: relative;
    background: transparent;
}

body::before {
    content: "";
    position: fixed;
    background: #010e1b;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
}

@media (min-width: 1024px) {
    body::before {
        background-attachment: fixed;
    }
}

a {
    color: #12d640;
}

a:hover {
    color: #12d640;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #09203a;
    position: relative;
    z-index: 1;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.header .logo span {
    color: #12d640;
}

.header .navbar a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 30px; /* Adjusted font size for navbar links */
}

.header .navbar a:hover, .header .navbar a.active {
    color: #12d640;
}

.header .bx {
    display: none;
}

/* About section styles */
.about {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.about .ab-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about .ab-img img {
    border-radius: 50px;
    max-width: 50%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about .ab-img:hover img {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 0 20px 10px rgba(18, 214, 64, 0.5); /* Glowy green effect */
}

.about .ab {
    flex: 1;
    margin-left: 50px;
}

.about .hd {
    font-size: 40px;
    margin-bottom: 20px;
}

.about .hd span {
    color: #12d640;
}

.about h3 {
    font-size: 40px;
    color: #1c7d32;
}

.about p {
    font-size: 30px;
    line-height: 1.6;
    color: #fff;
    transition: color 0.3s ease;
}

.about p:hover {
    color: #12d640; /* Change text color to green on hover */
}

.about p span {
    color: #ffc107;
}

/* Footer styles */
.footer {
    background: #09203a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.footer .fsoc a {
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

.footer .fsoc a:hover {
    color: #12d640;
}
