body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #010e1b;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #12d640;
}

a:hover {
  color: #12d640;
  text-decoration: none;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

h2.subtitle {
  color: #fff;
}

.typing {
  color: #12d640;
}

/* Header styles */
#header {
  transition: ease-in-out 0s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header h1 {
  font-size: 48px;
  margin-top: 0px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a, #header h1 a:hover {
  color: #dee2e6;
  line-height: 1;
  display: inline-block;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: #1c7d32;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Navigation Menu */
.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li + li {
  margin-left: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #9e7f25;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 25px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #12d640;
  text-decoration: none;
}

/* Profile Image */
.profile-img {
  max-width: 500px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 0 20px 10px rgba(18, 214, 64, 0.5); /* Glowy green effect */
  position: absolute;
  top: 140px;
  right: 350px;
}
